name: medication_manager
description: A Flutter application implementing the medication management mockup.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.3.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.6
  google_fonts: ^6.1.0
  provider: ^6.1.2
  geolocator: ^10.1.0
  permission_handler: ^11.3.0
  url_launcher: ^6.2.5
  http: ^1.2.2
  google_maps_flutter: ^2.7.0


dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/
